@import url(http://fonts.useso.com/css?family=Quicksand|Lusitana);

html, body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: url(../img/bg/bg2.jpg) scroll no-repeat top center black;
    height: 100%;
}

#nav {
    list-style-type: none;
    text-align: center;
    display: block;
    margin-top: 120px;
    margin-bottom: 30px;
    padding: 0;
}

h1 {
    color: #E6DBAE;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    margin: 30px auto 0;
    padding: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#nav a {
    color: white;
    font-family: 'Lusitana', serif;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 2px solid #FFBDBE;
    display: inline;
    margin-left: 6%;
    margin-right: 6%;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

li {
    width: 100%;
    text-align: center;
    float: left;
}

#nav a:hover {
    border-bottom: 2px solid #FFBDBE;
}

#headContain {
    width: 100%;
    min-height: 24px;
    text-align: center;
    background-color: rgba(100,100,100,0.5);
    padding: 20px 0;
}

.mission {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 0px;
}

span {
    font-size: 0.9em;
}

.mission {
    -webkit-animation: MISSION-HOVER 5s infinite;
    -moz-animation: MISSION-HOVER 5s infinite;
    -o-animation: MISSION-HOVER 5s infinite;
    animation: MISSION-HOVER 5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}
.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 5px 0 0;
}

.bottom > div {
    width: 50%;
    float: left;
    text-align: center;
}

@-webkit-keyframes MISSION-HOVER {
    0%, 100% {
        font-size: 1em;
        color: white;
    }
    50% {
        color: #BFFCFF;
        letter-spacing: 1px;
        text-shadow: 0px 0px 3px rgba(191, 252, 255, 1);
    }
}

.content {
    position: absolute;
    left: 19%;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;

    -webkit-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

.content:target {
    opacity: 1;
    -webkit-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
@media (min-width: 992px) {
    .mission {
        font-size: 2em;
    }
    span{
        font-size: 1.1em;
    }
    @-webkit-keyframes MISSION-HOVER {
        0%, 100% {
            font-size: 2.1em;
            color: white;
        }
        50% {
            color: #BFFCFF;
            letter-spacing: 6px;
            text-shadow: 0px 0px 15px rgba(191, 252, 255, 1);
        }
    }
}

@media (max-width: 991px) {
    .mission {
        font-size: 1.5em;
    }
    span{
        font-size: 1.1em;
    }
    @-webkit-keyframes MISSION-HOVER {
        0%, 100% {
            font-size: 1.7em;
            color: white;
        }
        50% {
            color: #BFFCFF;
            letter-spacing: 2px;
            text-shadow: 0px 0px 15px rgba(191, 252, 255, 1);
        }
    }
}

@media (max-width: 767px) {
    .mission {
        font-size: 1em;
    }
    span{
        font-size: 1.1em;
    }
    @-webkit-keyframes MISSION-HOVER {
        0%, 100% {
            font-size: 1.1em;
            color: white;
        }
        50% {
            color: #BFFCFF;
            letter-spacing: 2px;
            text-shadow: 0px 0px 15px rgba(191, 252, 255, 1);
        }
    }
}

@media (max-width: 480px) {
    .mission {
        font-size: 1.2em;
    }
    @-webkit-keyframes MISSION-HOVER {
        0%, 100% {
            font-size: 1.4em;
            color: white;
        }
        50% {
            color: #BFFCFF;
            letter-spacing: 1px;
            text-shadow: 0px 0px 3px rgba(191, 252, 255, 1);
        }
    }
}
